body, header { margin: 0; padding: 0; font-family: Arial Rounded, sans-serif; }
html { font-family: Arial Rounded, sans-serif; }
img { border: none; }
header { background: url(../images/backgrounds/bg-header.png) repeat-x; height: 128px;}
.herbalife { position: absolute; top: 60px; left: 15px; }
.logo { height: 128px; position: absolute; right: 20px;}
h1, h2 { color: #125cb5; text-align: center; margin: 30px; }
h1 { font-size: 20px; }
ol li { margin: 10px; font-size: 14px; }
ol li span { color: #404a51; font-weight: bold; }
